services:
  mysql:
    image: mysql:8.0
    container_name: aihealthcare
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: "Jeffjung@407"
      MYSQL_DATABASE: "aihealthcare"
      TZ: "Asia/Seoul"
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: >
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci

  redis:
    image: redis:latest
    restart: unless-stopped
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:latest
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.10
    restart: unless-stopped
    environment:
      discovery.type: single-node
      xpack.security.enabled: "false"
    ports:
      - "9200:9200"
      - "9300:9300"

volumes:
  mysql_data:
