spring:
  datasource:
    url: jdbc:mysql://localhost:3306/aihealthcare?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: rexyoon
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

    jpa:
      hibernate:
        ddl-auto: update
        properties:
          hibernate:
            dialect: org.hibernate.dialect.MySQL8Dialect
            format_sql: true
          show-sql: true
          database-platform: org.hibernate.dialect.MySQL8Dialect
logging:
  level:
    org.hivernate.SQL: debug
    org.hibernate.type.descroptor.sql: trace